footer {
  width: 100%;
  min-height: 40vh;
  height: auto;
  box-sizing: border-box;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer .col {
  width: 25%;
  height: inherit;
  box-sizing: border-box;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .col.col-1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 2px solid var(--grey);
}

footer .col.col-1 a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--black);
}

footer .col.col-1 a .logo-box {
  width: 80%;
  margin-bottom: 20px;
}

footer .col.col-1 a .logo-box img {
  width: 100%;
}

footer .col.col-2 {
  text-transform: capitalize;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: red;
}

footer .col.col-2 a {
  text-decoration: none;
  color: var(--black);
}

footer .col.col-2 * {
  margin-bottom: 15px;
}

footer .col.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: red;
}

/* MEDIA QUERIES */
@media (min-width: 426px) and (max-width: 768px) {
  footer .col {
    width: 100%;
  }

  footer .col.col-1 {
    border-right: none;
  }

  footer .col.col-2 {
    width: 40%;
  }

  footer .col.copy {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3%;
  }

  footer .col.col-1 {
    border-right: none;
  }

  footer .col {
    width: 100%;
  }

  footer .col.copy {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
